.containerMenuSemanal{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    .menu{
        background-color: rgb(205, 213, 221);
        margin: .5vw;
        width: 25vw;
        border-radius: .5vw;
        padding: 1vw;
    
        .nombre{
            font-size: 1.8vw;
            text-align: center;
        }
        .descripcion{
            font-size: 1vw;
        }
        .nombreReceta{
            font-size: 1.3vw;
        }
        .nombreIngrediente{
            font-size: .9vw;
        }
               
        .lista{
            list-style: none;
            font-size: 1vw;
        }
        .instrucciones{
            font-size: .9vw;
        }
        .img{
            font-size: .8vw;
            
        }
        .cantidad{
            font-size: 1vw;
        }
    }

}

@media (max-width: 770px){
    .containerMenuSemanal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .menu{
            background-color: rgb(205, 213, 221);
            margin: .5vw;
            width: 55vw;
            border-radius: .5vw;
            padding: 1vw;
        
            .nombre{
                font-size: 3vw;
            }
            .descripcion{
                font-size: 2.5vw;
            }
            .nombreReceta{
                font-size: 2.5vw;
            }
            .nombreIngrediente{
                font-size: 2.5vw;
            }
                   
            .lista{
                
                font-size: 2vw;
            }
            .instrucciones{
                font-size: 2vw;
            }
            .img{
                font-size: 2vw;
                
            }
            .cantidad{
                font-size: 2.3vw;
            }
        }
    
    }
}
